# Dependencies
node_modules/

# Build output
dist/
release/
*.dmg
*.dmg.blockmap
*.vsix

# Logs & misc
*.log
note

# macOS / env
.DS_Store
.env
.env.local

# Local music samples (do not commit copyrighted audio)
data/music/*.mp3
data/music/*.wav
